<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrp4kcgjuUJLQ5KLt0rberGRCIIBcy-x4</string>
	<key>GCM_SENDER_ID</key>
	<string>1008316824962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alperyardimci.VoxBattle</string>
	<key>PROJECT_ID</key>
	<string>voxbattle-8d0c0</string>
	<key>STORAGE_BUCKET</key>
	<string>voxbattle-8d0c0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008316824962:ios:00e2be77a8f52f56de239b</string>
	<key>DATABASE_URL</key>
	<string>https://voxbattle-8d0c0-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>